body {
    font-family: Montserrat;
    background-image: url(../images/background.jpg);
    color: white;
}

.form {
    display: block;
    text-align: center;
}

.input {
    margin-top: 50px;
    width: 30%;
    font-size: 26px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    font-size: 48px;
    width: 600px;
    margin: 40px auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 30px;
}

.listItem {
    margin-left: 40px;
    text-align: center;
    border: 1px solid white;
    padding: 20px;
    width: 400px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.listItem:hover {
    transform: scale(1.07);
    color: salmon;
    -webkit-box-shadow: 0px 0px 26px -1px rgba(245,213,245,1);
-moz-box-shadow: 0px 0px 26px -1px rgba(245,213,245,1);
box-shadow: 0px 0px 26px -1px rgba(245,213,245,1);
}

.listItemImg {
    padding-left: 5px;
    width: 180px;
    height: 120px;
}